@media (max-width:1199px) {
    .last_projects_inner {
    .project-card {
        figure {
            aspect-ratio: 1/.8;
        }
    }
}
}

@media (max-width:991px) {
    .nav-collapse {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        transform: translateX(-100%);
        background-color: $black-color;
        transition: all ease-in-out .5s;
        z-index: 100;
        display: flex;
        justify-content: center;
        padding: 5rem 0;

        ul {
            flex-direction: column;
            align-items: flex-start;

            li {
                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 1.5rem;
                }

                a {
                    color: $white-color;
                }
            }
        }
    }

    .ham_btn {
        display: block;
    }

    section.About_Us_Section {
        .right-section{
            figure{
                aspect-ratio: 1/.8;
            }
        }
    }
     .last_projects_inner {
    .project-card {
        figure {
            aspect-ratio: 1/.5;
        }
    }
}
}

